* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.navWHT {
  max-width: 980px;
  height: 80px;
  margin: 0 auto;
  border-bottom: 2px solid #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 99;
}
.navWHT .logo {
  color: #ffff;
  border-color: #ffff;
  width: 92px;
  height: 42px;
}
.navWHT .links a {
  color: #ffff;
  text-decoration: none;
}
.navWHT .links span {
  color: #ffff;
  margin: 0 20px;
}

.navBLK {
  max-width: 980px;
  height: 80px;
  margin: 0 auto;
  border-bottom: 2px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 99;
}
.navBLK .logo {
  color: #000000;
  border-color: #000000;
  width: 92px;
  height: 42px;
}
.navBLK .links a {
  color: #000000;
  text-decoration: none;
}
.navBLK .links span {
  color: #ffff;
  margin: 0 20px;
}

@media screen and (max-width: 1000px) {
  .navWHT {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 1000px) {
  .navBLK {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.banner {
  max-width: 1280px;
  height: 500px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4))), url(../images/hero-3.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.4)), url(../images/hero-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: -80px auto 0 auto;
}
.banner .connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.banner .connect .fly {
  width: 360px;
  height: 120px;
  color: white;
  font-size: 60px;
  font-family: GillSans;
}
.banner .connect .info {
  width: 416px;
  height: 46px;
  font-size: 20px;
  color: white;
  font-family: GillSans;
}
.banner .connect .main {
  text-align: center;
  position: relative;
  left: 40px;
  height: 40.04px;
  width: 121.62px;
  padding: 20px;
  color: white;
}
.banner .connect .main .more {
  position: absolute;
  bottom: 0px;
  margin-bottom: -40px;
  margin-left: -60px;
  background-color: #79addc;
  padding: 10px;
}

@media screen and (max-width: 1000px) {
  .banner {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 1000px;
  }
}
.form-content {
  margin-top: 300px;
  max-width: 818px;
  min-height: 200px;
  margin: 0 auto;
}
.form-content .text2 {
  font-size: 60px;
}
.form-content .top-boxes {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form-content .top-boxes .long-box2 {
  width: 818px;
  height: 192px;
}
.form-content .top-boxes .long-box1 {
  width: 103px;
}
.form-content .top-boxes .long-boxs {
  width: 698px;
}
.form-content .top-boxes .long-box {
  width: 453px;
}
.form-content .top-boxes .icon {
  margin-left: -40px;
}
.form-content .top-boxes input {
  width: 344px;
  height: 58px;
  padding-left: 10px;
  border-style: solid;
  color: #77addc;
}
.form-content .button2 {
  margin-top: 10px;
}
.form-content .but2 {
  background-color: #79addc;
  height: 60.59px;
  width: 813px;
  border-radius: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-family: GillSans;
}

@media screen and (max-width: 1000px) {
  .form-content {
    width: 85%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 90%;
  }

  .top-boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .but1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
  }
}
.photo {
  width: 100%;
  margin-top: -50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.photo .europe {
  color: white;
  font-size: 60px;
  background-color: red;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4))), url(../images/tour-01.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.4)), url(../images/tour-01.jpg);
  width: 236px;
  height: 304px;
  margin-bottom: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: ProximaNova;
}
.photo .usa {
  color: white;
  font-size: 60px;
  background-color: red;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4))), url(../images/tour-02.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.4)), url(../images/tour-02.jpg);
  width: 236px;
  height: 304px;
  margin-bottom: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: ProximaNova;
}
.photo .money {
  color: white;
  font-size: 30px;
}
.photo .aus {
  font-size: 60px;
  color: white;
  background-color: red;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4))), url(../images/tour-03.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.4)), url(../images/tour-03.jpg);
  width: 236px;
  height: 304px;
  margin-bottom: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: ProximaNova;
}

@media screen and (max-width: 1000px) {
  .photo {
    width: 800px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 940px;
  }
}
footer {
  background-color: #79addc;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1000px) {
  footer {
    width: 210px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 940px;
  }
}
@font-face {
  font-family: GillSans;
  src: url(fonts/GillSans.ttc);
}
@font-face {
  font-family: ProximaNova;
  src: url(fonts/Proxima_Nova_Extra_Condensed_Thin.otf);
}
.about {
  margin-top: 110px;
  margin-bottom: 180px;
  margin: 0 auto;
  max-width: 980px;
  min-height: 100vh;
}
.about .about-header h1 {
  margin-bottom: 2px;
  margin-top: 30px;
  font-family: ProximaNova;
  src: url(fonts/Proxima_Nova_Extra_Condensed_Thin.otf);
  font-size: 60px;
}
.about .about-header hr {
  width: 171px;
  height: 2px;
  border-width: 0;
  background-color: black;
  margin-bottom: 20px;
}
.about .about-client-quotes {
  margin-top: 107px;
  font-family: ProximaNova;
  font-size: 20px;
  src: url(fonts/Proxima_Nova_Extra_Condensed_Thin.otf);
}
.about .about-client-quotes hr {
  width: 255px;
  height: 2px;
  border-width: 0;
  background-color: black;
}
.about .about-client-quotes .client-quote-title {
  font-size: 40px;
  margin-bottom: 2px;
}
.about .about-client-quotes .client-box {
  max-width: 722px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 30px;
  margin-top: 37px;
}
.about .about-client-quotes .client-image {
  width: 260px;
  height: 150px;
  overflow: hidden;
  margin-right: 21px;
  background-image: url(../images/about-client-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about .about-client-quotes .client-image img {
  width: 100%;
}
.about .about-client-quotes .client-images {
  width: 260px;
  height: 150px;
  overflow: hidden;
  margin-right: 21px;
  background-image: url(../images/about-client-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about .about-client-quotes .client-images img {
  width: 100%;
}
.about .about-client-quotes .client-quote {
  width: 440px;
  margin-bottom: 30px;
}
.about .about-client-quotes .client-name {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #79addc;
}

@media screen and (max-width: 1000px) {
  .about {
    width: 85%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 90%;
  }

  .about-client-quotes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.tour-logo {
  width: 981px;
  height: 200px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/tours-header.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tours-header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 49.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 60px;
  font-family: ProximaNova;
  font-style: italic;
}

.tour-images {
  margin: 0 auto;
  max-width: 818px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}
.tour-images .country {
  width: 236px;
  height: 304px;
  background-color: red;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../images/tour-01.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 60px;
  font-family: ProximaNova;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.tour-images .america {
  width: 236px;
  height: 304px;
  background-color: red;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../images/tour-02.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 60px;
  font-family: ProximaNova;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.tour-images .aus {
  width: 236px;
  height: 304px;
  background-color: red;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../images/tour-03.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 60px;
  font-family: ProximaNova;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.tour-images .moneys {
  font-size: 30px;
}

@media screen and (max-width: 1000px) {
  .tour-images {
    width: 800px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 940px;
  }
}
.tour-picture {
  margin: 0 auto;
  max-width: 818px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}
.tour-picture .zealand {
  width: 236px;
  height: 304px;
  background-color: red;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../images/tour-04.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-04.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 60px;
  font-family: ProximaNova;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.tour-picture .france {
  width: 236px;
  height: 304px;
  background-color: red;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../images/tour-05.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-05.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 60px;
  font-family: ProximaNova;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.tour-picture .egypt {
  width: 236px;
  height: 304px;
  background-color: red;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../images/tour-06.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-06.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 60px;
  font-family: ProximaNova;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.tour-picture .moneys {
  font-size: 30px;
}

@media screen and (max-width: 1000px) {
  .tour-picture {
    width: 800px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 940px;
  }
}
.tour-trip {
  margin: 0 auto;
  max-width: 818px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}
.tour-trip .japan {
  width: 236px;
  height: 304px;
  background-color: red;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../images/tour-07.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-07.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 60px;
  font-family: ProximaNova;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.tour-trip .canada {
  width: 236px;
  height: 304px;
  background-color: red;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../images/tour-08.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-08.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 60px;
  font-family: ProximaNova;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.tour-trip .uae {
  width: 236px;
  height: 304px;
  background-color: red;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../images/tour-09.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-09.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 60px;
  font-family: ProximaNova;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.tour-trip .moneys {
  font-size: 30px;
}

@media screen and (max-width: 1000px) {
  .tour-trip {
    width: 800px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 940px;
  }
}
.israel-banner {
  max-width: 981px;
  height: 431px;
  margin: 0 auto;
  margin-top: 48px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../images/tour-01.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  font-family: ProximaNova;
  font-style: italic;
}
.israel-banner .israel-hero-text {
  position: absolute;
  font-size: 50px;
  top: 10px;
  left: 10px;
}
.israel-banner .israel-price-text {
  position: absolute;
  margin: 0;
  font-size: 20px;
  font-style: italic;
  right: 10px;
  bottom: 10px;
}

.israel-tour {
  max-width: 981px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
.israel-tour .israel-wall {
  width: 298px;
  height: 347px;
  background-image: url(../images/israel-tour-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.israel-tour .israel-ocean {
  width: 298px;
  height: 347px;
  background-image: url(../images/israel-tour-02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.israel-tour .israel-waterfall {
  width: 298px;
  height: 347px;
  background-image: url(../images/israel-tour-03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1000px) {
  .israel-tour {
    width: 800px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 940px;
  }
}
.israel-days {
  max-width: 981px;
  height: 776px;
  margin: 0 auto;
}
.israel-days .day-one {
  font-family: ProximaNova;
  font-size: 60px;
  font-style: italic;
  text-decoration: underline;
  text-decoration-thickness: 2.5px;
}
.israel-days .text {
  font-family: GillSans;
  font-size: 16px;
  margin-bottom: 80px;
}
.israel-days .day-two {
  font-family: ProximaNova;
  font-size: 60px;
  font-style: italic;
  text-decoration: underline;
  text-decoration-thickness: 2.5px;
}
.israel-days .day-three {
  font-family: ProximaNova;
  font-size: 60px;
  font-style: italic;
  text-decoration: underline;
  text-decoration-thickness: 2.5px;
}

.button1 {
  margin-bottom: 100px;
}
.button1 .but1 {
  background-color: #77addc;
  height: 40px;
  width: 133px;
  border-radius: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-family: ProximaNova;
}
.button1 .book {
  margin-bottom: 2px;
  margin: 0;
}

.usa-banner {
  max-width: 981px;
  height: 431px;
  margin: 0 auto;
  margin-top: 48px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../images/tour-02.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  font-family: ProximaNova;
  font-style: italic;
}
.usa-banner .usa-hero-text {
  position: absolute;
  font-size: 50px;
  top: 10px;
  left: 10px;
}
.usa-banner .usa-price-text {
  position: absolute;
  margin: 0;
  font-size: 20px;
  font-style: italic;
  right: 10px;
  bottom: 10px;
}

.usa-days {
  max-width: 981px;
  height: 776px;
  margin: 0 auto;
}
.usa-days .day-one {
  font-family: ProximaNova;
  font-size: 60px;
  font-style: italic;
  text-decoration: underline;
  text-decoration-thickness: 2.5px;
}
.usa-days .text {
  font-family: GillSans;
  font-size: 16px;
  margin-bottom: 80px;
}
.usa-days .day-two {
  font-family: ProximaNova;
  font-size: 60px;
  font-style: italic;
  text-decoration: underline;
  text-decoration-thickness: 2.5px;
}
.usa-days .day-three {
  font-family: ProximaNova;
  font-size: 60px;
  font-style: italic;
  text-decoration: underline;
  text-decoration-thickness: 2.5px;
}

.usa-tour {
  max-width: 981px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
.usa-tour .usa-wall {
  width: 298px;
  height: 347px;
  background-image: url(../images/usa-tour-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.usa-tour .usa-ocean {
  width: 298px;
  height: 347px;
  background-image: url(../images/usa-tour-02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.usa-tour .usa-waterfall {
  width: 298px;
  height: 347px;
  background-image: url(../images/usa-tour-03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1000px) {
  .usa-tour {
    width: 800px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 940px;
  }
}
.aus-banner {
  max-width: 981px;
  height: 431px;
  margin: 0 auto;
  margin-top: 48px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../images/tour-03.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  font-family: ProximaNova;
  font-style: italic;
}
.aus-banner .aus-hero-text {
  position: absolute;
  font-size: 50px;
  top: 10px;
  left: 10px;
}
.aus-banner .aus-price-text {
  position: absolute;
  margin: 0;
  font-size: 20px;
  font-style: italic;
  right: 10px;
  bottom: 10px;
}

.aus-tour {
  max-width: 981px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
.aus-tour .aus-wall {
  width: 298px;
  height: 347px;
  background-image: url(../images/aus-tour-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.aus-tour .aus-ocean {
  width: 298px;
  height: 347px;
  background-image: url(../images/aus-tour-02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.aus-tour .aus-waterfall {
  width: 298px;
  height: 347px;
  background-image: url(../images/aus-tour-03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1000px) {
  .aus-tour {
    width: 800px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 940px;
  }
}
.zealand-banner {
  max-width: 981px;
  height: 431px;
  margin: 0 auto;
  margin-top: 48px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../images/tour-04.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-04.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  font-family: ProximaNova;
  font-style: italic;
}
.zealand-banner .zealand-hero-text {
  position: absolute;
  font-size: 50px;
  top: 10px;
  left: 10px;
}
.zealand-banner .zealand-price-text {
  position: absolute;
  margin: 0;
  font-size: 20px;
  font-style: italic;
  right: 10px;
  bottom: 10px;
}

.zealand-tour {
  max-width: 981px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
.zealand-tour .zealand-wall {
  width: 298px;
  height: 347px;
  background-image: url(../images/nz-tour-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.zealand-tour .zealand-ocean {
  width: 298px;
  height: 347px;
  background-image: url(../images/nz-tour-02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.zealand-tour .zealand-waterfall {
  width: 298px;
  height: 347px;
  background-image: url(../images/nz-tour-03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1000px) {
  .zealand-tour {
    width: 800px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 940px;
  }
}
.france-banner {
  max-width: 981px;
  height: 431px;
  margin: 0 auto;
  margin-top: 48px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../images/tour-05.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-05.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  font-family: ProximaNova;
  font-style: italic;
}
.france-banner .france-hero-text {
  position: absolute;
  font-size: 50px;
  top: 10px;
  left: 10px;
}
.france-banner .france-price-text {
  position: absolute;
  margin: 0;
  font-size: 20px;
  font-style: italic;
  right: 10px;
  bottom: 10px;
}

.france-tour {
  max-width: 981px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
.france-tour .france-wall {
  width: 298px;
  height: 347px;
  background-image: url(../images/france-tour-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.france-tour .france-ocean {
  width: 298px;
  height: 347px;
  background-image: url(../images/france-tour-02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.france-tour .france-waterfall {
  width: 298px;
  height: 347px;
  background-image: url(../images/france-tour-03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1000px) {
  .france-tour {
    width: 800px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 940px;
  }
}
.egypt-banner {
  max-width: 981px;
  height: 431px;
  margin: 0 auto;
  margin-top: 48px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../images/tour-06.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-06.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  font-family: ProximaNova;
  font-style: italic;
}
.egypt-banner .egypt-hero-text {
  position: absolute;
  font-size: 50px;
  top: 10px;
  left: 10px;
}
.egypt-banner .egypt-price-text {
  position: absolute;
  margin: 0;
  font-size: 20px;
  font-style: italic;
  right: 10px;
  bottom: 10px;
}

.egypt-tour {
  max-width: 981px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
.egypt-tour .egypt-wall {
  width: 298px;
  height: 347px;
  background-image: url(../images/egypt-tour-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.egypt-tour .egypt-ocean {
  width: 298px;
  height: 347px;
  background-image: url(../images/egypt-tour-02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.egypt-tour .egypt-waterfall {
  width: 298px;
  height: 347px;
  background-image: url(../images/egypt-tour-03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1000px) {
  .egypt-tour {
    width: 800px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 940px;
  }
}
.japan-banner {
  max-width: 981px;
  height: 431px;
  margin: 0 auto;
  margin-top: 48px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../images/tour-07.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-07.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  font-family: ProximaNova;
  font-style: italic;
}
.japan-banner .japan-hero-text {
  position: absolute;
  font-size: 50px;
  top: 10px;
  left: 10px;
}
.japan-banner .japan-price-text {
  position: absolute;
  margin: 0;
  font-size: 20px;
  font-style: italic;
  right: 10px;
  bottom: 10px;
}

.japan-tour {
  max-width: 981px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
.japan-tour .japan-wall {
  width: 298px;
  height: 347px;
  background-image: url(../images/japan-tour-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.japan-tour .japan-ocean {
  width: 298px;
  height: 347px;
  background-image: url(../images/japan-tour-02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.japan-tour .japan-waterfall {
  width: 298px;
  height: 347px;
  background-image: url(../images/japan-tour-03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1000px) {
  .japan-tour {
    width: 800px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 940px;
  }
}
.canada-banner {
  max-width: 981px;
  height: 431px;
  margin: 0 auto;
  margin-top: 48px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../images/tour-08.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-08.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  font-family: ProximaNova;
  font-style: italic;
}
.canada-banner .canada-hero-text {
  position: absolute;
  font-size: 50px;
  top: 10px;
  left: 10px;
}
.canada-banner .canada-price-text {
  position: absolute;
  margin: 0;
  font-size: 20px;
  font-style: italic;
  right: 10px;
  bottom: 10px;
}

.canada-tour {
  max-width: 981px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
.canada-tour .canada-wall {
  width: 298px;
  height: 347px;
  background-image: url(../images/canada-tour-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.canada-tour .canada-ocean {
  width: 298px;
  height: 347px;
  background-image: url(../images/canada-tour-02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.canada-tour .canada-waterfall {
  width: 298px;
  height: 347px;
  background-image: url(../images/canada-tour-03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1000px) {
  .canada-tour {
    width: 800px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 940px;
  }
}
.uae-banner {
  max-width: 981px;
  height: 431px;
  margin: 0 auto;
  margin-top: 48px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../images/tour-09.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-09.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  font-family: ProximaNova;
  font-style: italic;
}
.uae-banner .uae-hero-text {
  position: absolute;
  font-size: 50px;
  top: 10px;
  left: 10px;
}
.uae-banner .uae-price-text {
  position: absolute;
  margin: 0;
  font-size: 20px;
  font-style: italic;
  right: 10px;
  bottom: 10px;
}

.uae-tour {
  max-width: 981px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
.uae-tour .uae-wall {
  width: 298px;
  height: 347px;
  background-image: url(../images/uae-tour-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.uae-tour .uae-ocean {
  width: 298px;
  height: 347px;
  background-image: url(../images/uae-tour-02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.uae-tour .uae-waterfall {
  width: 298px;
  height: 347px;
  background-image: url(../images/uae-tour-03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1000px) {
  .uae-tour {
    width: 800px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 940px;
  }
}
.special-offer {
  margin-top: 110px;
  margin-bottom: 180px;
  margin: 0 auto;
  max-width: 980px;
  min-height: 100vh;
}
.special-offer .offer h1 {
  margin-bottom: 2px;
  margin-top: 59.5px;
  font-style: italic;
  font-family: ProximaNova;
  src: url(fonts/Proxima_Nova_Extra_Condensed_Thin.otf);
  font-size: 30px;
}
.special-offer .offer hr {
  width: 165px;
  height: 2px;
  border-width: 0;
  background-color: black;
  margin-bottom: 35.5px;
}
.special-offer .special-client-quotes {
  margin-top: 35.5px;
  font-family: ProximaNova;
  font-size: 20px;
  src: url(fonts/Proxima_Nova_Extra_Condensed_Thin.otf);
}
.special-offer .special-client-quotes hr {
  width: 255px;
  height: 2px;
  border-width: 0;
  background-color: black;
}
.special-offer .special-client-quotes .special-quote-title {
  font-size: 40px;
  margin-bottom: 2px;
}
.special-offer .special-client-quotes .special-box {
  max-width: 722px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 30px;
  margin-top: 37px;
}
.special-offer .special-client-quotes .special-image {
  width: 199px;
  height: 287px;
  overflow: hidden;
  margin-right: 21px;
  background-image: url(../images/special-offer-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.special-offer .special-client-quotes .special-image img {
  width: 100%;
}
.special-offer .special-client-quotes .special-images {
  width: 199px;
  height: 287px;
  overflow: hidden;
  margin-right: 21px;
  background-image: url(../images/special-offer-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.special-offer .special-client-quotes .special-images img {
  width: 100%;
}
.special-offer .special-client-quotes .client-images {
  width: 260px;
  height: 150px;
  overflow: hidden;
  margin-right: 21px;
  background-image: url(../images/about-client-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.special-offer .special-client-quotes .client-images img {
  width: 100%;
}
.special-offer .special-client-quotes .client-quote {
  width: 440px;
  margin-bottom: 30px;
}
.special-offer .special-client-quotes .text4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.special-offer .special-client-quotes .client-name {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #79addc;
}

.spain {
  max-width: 722px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 30px;
  margin-top: 37px;
}
.spain .spain-image {
  width: 199px;
  height: 287px;
  overflow: hidden;
  margin-right: 21px;
  background-image: url(../images/special-offer-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.spain .spain-image img {
  width: 100%;
}
.spain .title {
  width: 440px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1000px) {
  .special-offer {
    width: 85%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 90%;
  }

  .special-client-quotes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .client-quote {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .special-quote-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .text4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.blog {
  margin-top: 110px;
  margin-bottom: 180px;
  margin: 0 auto;
  max-width: 980px;
  height: 860px;
}
.blog .blog-header h1 {
  margin-bottom: 2px;
  margin-top: 30px;
  font-family: ProximaNova;
  src: url(fonts/Proxima_Nova_Extra_Condensed_Thin.otf);
  font-size: 30px;
}
.blog .blog-header hr {
  width: 106px;
  height: 2px;
  border-width: 0;
  background-color: black;
  margin-bottom: 20px;
}
.blog .everything {
  width: 1000px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog .everything .date {
  width: 70px;
  height: 70px;
  background-color: #77addc;
  color: white;
  font-family: GillSans;
  font-size: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.blog .everything .hand {
  width: 900px;
  height: 220px;
  margin-left: 20px;
  background-image: url(../images/blog.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.blog .text {
  margin-left: 90px;
  margin-top: 40px;
  width: 300px;
  height: 22px;
  font-family: GillSans;
}
.blog .text2 {
  margin-left: 90px;
  width: 380px;
  height: 64px;
  font-family: GillSans;
  margin-bottom: 100px;
}

@media screen and (max-width: 1000px) {
  .blog {
    width: 85%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 90%;
  }

  .everything {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .hand {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contact {
  margin-top: 110px;
  margin-bottom: 180px;
  margin: 0 auto;
  max-width: 980px;
  min-height: 140vh;
}
.contact .contact-header h1 {
  margin-bottom: 2px;
  margin-top: 59.5px;
  font-family: ProximaNova;
  src: url(fonts/Proxima_Nova_Extra_Condensed_Thin.otf);
  font-size: 30px;
}
.contact .contact-header hr {
  width: 159px;
  height: 2px;
  border-width: 0;
  background-color: black;
  margin-bottom: 20px;
}
.contact .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50.5px;
}
.contact .info .map {
  width: 400px;
  height: 442px;
  background-image: url(../images/map.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact .info .messages {
  margin-left: 50px;
  font-family: GillSans;
  font-size: 16px;
  color: #707070;
  padding-left: 10px;
}
.contact .info .messages .name {
  margin-bottom: 21px;
  width: 529px;
  height: 60px;
  background-color: #f5f5f5;
}
.contact .info .messages .email {
  margin-bottom: 21px;
  width: 529px;
  height: 60px;
  background-color: #f5f5f5;
}
.contact .info .messages .company {
  margin-bottom: 21px;
  width: 529px;
  height: 60px;
  background-color: #f5f5f5;
}
.contact .info .messages .message {
  margin-bottom: 21px;
  width: 529px;
  height: 199px;
  background-color: #f5f5f5;
}
.contact .text5 {
  width: 400px;
  height: 161px;
  margin-bottom: 34px;
  font-family: GillSans;
  font-size: 18px;
}

@media screen and (max-width: 1000px) {
  .contact {
    width: 85%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 90%;
  }

  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}