.button1 {
  margin-bottom: 100px;

  .but1 {
    background-color: #77addc;
    height: 40px;
    width: 133px;
    border-radius: 38px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: ProximaNova;
  }

  .book {
    margin-bottom: 2px;
    margin: 0;
  }
}
